@import './_mixin.scss';
@import './variable';

footer{
     @include theme() {
        background-color: theme-get('footer-bg');
        border-top: 1px solid theme-get('footer-border');
    }

    .inner-footer{
        max-width: 1296px;
        margin: 0 auto;
        padding: 37px 0 48px;

        .section-service{
            .wrap-service{
                float: left;
                width: 16.666%;

                .tit-service{
                    display: block;

                    a{
                        font-weight: 700;
                        line-height: 20px;
                        letter-spacing: -.2px;
                        @include theme() {
                            color:  theme-get('text-color');
                        }

                        span{
                            font-weight: 700;
                            line-height: 20px;
                            letter-spacing: -.2px;
                            @include theme() {
                                color:  theme-get(' footer-span-color');
                            }
                        }

                        @include tablet-min{
                            display: block;
                            padding: 13px 0 15px;
                            line-height: 20px;
                        }

                        &:hover{
                            position: relative;
                            &:before{
                                position: absolute;
                                top: 5px;
                                left: -16px;
                                width: 6px;
                                height: 7px;
                                border-radius: 50%;
                                background: #ffcd00;
                                vertical-align: top;
                                content: "";
                            }
                        }
                    }

                    @include tablet-min{
                        @include theme() {
                            border-bottom: 1px solid theme-get('footer-border');
                        }
                    }
                }

                @include tablet-min{
                    float: none;
                    width: 100%;

                    &.on{
                        .ico-arrow{
                            -webkit-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                        }

                        .list-service{
                            display: block;
                        }
                    }

                    &.wrap-news{
                        .ico-arrow{
                            -webkit-transform: rotate(-90deg);
                            transform: rotate(-90deg);
                        }
                    }
                }
            }

            .group-service{
                .tit-service{
                    display: block;
                    padding-top: 36px;

                    a{
                        font-weight: 700;
                        line-height: 20px;
                        letter-spacing: -.2px;
                        @include theme() {
                            color:  theme-get('text-color');
                        }

                        .ico-outlink{
                            stroke-width: 1;
                            @include theme() {
                                stroke:  theme-get('footer-outline');
                            }

                            @include tablet-min{
                                width: 14px;
                                height: 14px;
                                float: right;
                                margin-right: 12px;

                                @include theme() {
                                    stroke:  theme-get('footer-group-ico');
                                }
                            }
                        }
                    }

                    @include tablet-min{
                        padding-top: 0;
                    }
                }
            }

            .list-service{
                li{
                    margin-top: 12px;

                    a{
                        line-height: 20px;
                        letter-spacing: -.2px;
                        color: $color-888;

                        @include tablet-min{
                            display: block;
                            padding: 6px 12px;
                            line-height: 20px;
                            letter-spacing: -.2px;

                            @include theme(){
                                color:theme-get('footer-li-a')
                            }
                        }

                        &:hover{
                            @include theme(){
                                color:theme-get('footer-li-a-hover')
                            }
                        }   
                    }

                    @include tablet-min{
                        margin-top: 0;
                    }
                }
                
                @include tablet-min{
                    display: none;
                    padding: 18px 0;

                    @include theme(){
                        border-bottom: 1px solid theme-get('footer-ul-border');
                    }
                }
            }

            .ico-arrow{
                display: none;

                @include tablet-min{
                    float: right;
                    display: block;
                    width: 14px;
                    height: 14px;
                    margin: 4px 12px 0 0;
                }
                
                .stroke{
                    @include theme(){
                        stroke: theme-get('footer-ico');
                    }
                }
            }

            .ico-outlink{
                margin: 6px 0 0 4px;
            }

            @include tablet-min{
                padding: 0;
                @include theme(){
                    border-top: 1px solid theme-get('footer-border');
                }
            }
        }

        .section-relation{
            margin-top: 120px;

            .group-info{
                float: left;

                .wrap-info{
                    float: left;
                    position: relative;
                    line-height: 18px;

                    .link-info{
                        font-size: 12px;
                        letter-spacing: -.2px;
                        color: $color-888;

                        .ico-arrow{
                            width: 9px;
                            height: 9px;
                            margin: 0 0 0 4px;

                            .stroke{
                                stroke: #999;
                            }
                        }

                        &.link-emph{
                            font-weight: bold;
                            @include theme(){
                                color: theme-get('footer-link-emph');
                            }
                        }

                        &:hover{
                            @include theme(){
                                color: theme-get('link-info-hover');
                            }
                        }
                    }

                    &.info-open{
                        .link-info{
                            @include theme(){
                                color: theme-get('footer-linkinfo');
                            }

                            .ico-arrow{
                                -webkit-transform: rotate(-180deg);
                                transform: rotate(-180deg);

                                .stroke{
                                    @include theme(){
                                        stroke: theme-get('footer-stroke');
                                    }
                                }
                            }

                        }
                        .list-subinfo{
                            display: block;
                        }
                    }

                    &+.wrap-info{
                        margin-left: 24px;
                    }

                    &:nth-child(n+6){
                        @include tablet-max(){
                            margin-top: 6px;
                        }
                    }

                    &:nth-child(6){
                        @include tablet-max(){
                            margin-left: 0;
                        }
                    }

                    @include tablet-min{
                        width: 50%;
                        margin-top: 15px;

                        &+.wrap-info{
                            margin-left: 0;
                        }

                        &:nth-child(n+6){
                            margin-top: 15px;
                        }
                    }
                }

                @include tablet-max(){
                    width: 532px;
                }

                @include tablet-min{
                    float: none;
                    width: 100%;
                }
            }

            .wrap-relation{
                float: right;
                position: relative;
                width: 208px;

                .tit-relation{
                    a{
                        display: block;
                        padding: 10px 20px 12px;
                        border-radius: 24px;
                        line-height: 18px;
                        letter-spacing: -.2px;
                        font-size: 13px;
                        @include theme(){
                            background-color: theme-get('icon-bg');
                            color: theme-get('footer-span-color');
                        }

                        .ico-plus{
                            float: right;
                            width: 14px;
                            height: 14px;
                            margin-top: 3px;
                        }
                    }
                }

                .list-subinfo{
                    width: 100%;
                    bottom: 52px;
                }

                @include tablet-max(){
                    width: 298px;
                }

                @include tablet-min{
                    margin-top: 58px;
                    width: 297px;
                }

                @include mobile-max{
                    float: none;
                    margin-top: 48px;
                    width: 100%;
                }
            }

            .list-subinfo{
                display: none;
                position: absolute;
                bottom: 30px;
                left: 0;
                padding: 16px 0;
                border-radius: 12px;
                @include theme(){
                    background-color: theme-get('icon-bg');
                }

                a{
                    display: block;
                    padding: 0 20px;
                    white-space: nowrap;
                    @include theme(){
                        color: theme-get('footer-info-li');
                    }

                    .ico-outlink{
                        margin: 0 0 -1px 5px;
                    }

                    &:hover{
                        @include theme(){
                            color: theme-get('link-info-hover');
                        }
                    }
                }

                li+li{
                    margin-top: 12px;
                }

                @include tablet-min{
                    bottom: 25px;
                }
            }

            @include tablet-min{
                margin-top: 45px;
            }

            @include mobile-max{
                margin-top: 48px;
            }

            &.info-open{
                .ico-plus{
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                .list-subinfo{
                    display: block;
                }
            }
        }

        @include tablet-max(){
            max-width: 952px;
            padding-top: 36px;
        }

        @include tablet-min{
            max-width: 630px;
            padding-top: 0;
        }

        @include mobile-max{
            max-width: 364px;
        }
    }

    .ico-outlink{
        width: 9px;
        height: 9px;
        stroke: #999;
    }

    .ico-plus{
        @include theme(){
            fill: theme-get('ico-plus');
        }
    }

    .txt-copyright{
        display: block;
        font-size: 12px;
        color: $color-888;
        clear: both;

        @include tablet-max(){
            padding-top: 12px;
        }

        @include tablet-min(){
            float: left;
            padding-top: 0;
            margin-top: -30px;
        }

        @include mobile-max{
            float: none;
            margin-top: 48px;
        }
    }

    @include tablet-min{
        border: 0 !important;
    }

    @include mobile-min{
        padding: 0 24px;
    }
}