@import './mixin.scss';
@include font-face('KakaoRegular', 'KakaoRegular', 400);

$font-stack: KakaoRegular, sans-serif;

body{
    font: 100% $font-stack;
    @include font-style(14, 1.5);
    &.dark{
        background-color: #000;
    }
    &light{
        background-color: #fff;
    }
}

.screen-out{
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    position: absolute;
    width: 0;
    height: 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.width100{
    width: 100%;
}

.height100{
    height: 100%;
}

.clear::after{
    clear: both;
    content:  '';
    display: block;
}

.link-collection{
    display: block;
    width: 260px;
    height: 60px;
    margin: 84px auto 0;
    border-radius: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('link-collection');
    }

    @include tablet-max{
        margin-top: 72px;
    }

    @include tablet-min{
        width: 220px;
        height: 50px;
        margin-top: 76px;
        font-size: 16px;
        line-height: 50px;
    }

    @include mobile-max{
        margin-top: 60px;
    }

    &:hover{
        @include theme() {
            background-color: theme-get('link-collection-hover');
        }
    }
}

.link-top{
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 50px;
    height: 50px;

    .ico-top{
        circle{
            @include theme(){
                fill: theme-get('text-color');
            }
        }

        .stroke{
            @include theme(){
                stroke: theme-get('bg-color');
            }
        }

        &:hover{
            circle{
                @include theme(){
                    fill: theme-get('ico-top-hover');
                }
            }
        }
    }

    @include tablet-min{
        right: 50%;
        width: 40px;
        height: 40px;
        margin-right: -20px;
    }
}

.layer-share{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    opacity: 1;
    border-radius: 12px;
    background-color: rgba(0,0,0,.55);

    .list-layer{
        overflow: hidden;
        position: absolute;
        top: 66px;
        right: 10px;

        li{
            transform: translate(0);
        }

        .btn-layer{
            display: block;
            overflow: hidden;

            [class^=ico-]{
                display: block;
                width: 36px;
                height: 36px;
            }
        }

        li+li{
            margin-top: 12px;
        }
    }

    .btn-close{
        display: block;
        overflow: hidden;
        position: absolute;
        top: 30px;
        right: 16px;
        width: 24px;
        height: 24px;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px;

        .ico-close{
            display: block;
        }
    }

    .ico-close{
        stroke: #eee;
    }
}

.ico-share-kakao,
.ico-share-facebook,
.ico-share-twitter,
.ico-share-link{
    circle{
        @include theme(){
            fill: theme-get('ico-share');
        }
    }

    .fill{
        @include theme(){
            fill: theme-get('ico-share-path');
        }
    }
    
    &:hover{
        circle{
            @include theme(){
                fill: theme-get('ico-share-path');
            }
        }
        .fill{
            @include theme(){
                fill: theme-get('ico-share');
            }
        }
    }
}

.ico-share-link{
    .stroke{
        @include theme(){
            stroke: theme-get('ico-share-path');
        }
    }

    &:hover{
        .stroke{
            @include theme(){
                stroke: theme-get('ico-share');
            }
        }
    }
}

.head-bottom+.header-feature{
    top: 60px;
}

.head-hide+.header-feature{
    top: -1px;
}

.header-feature{
    position: fixed;
    top: 72px;
    width: 100%;
    z-index: 1000;
    -webkit-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
    @include theme(){
        background-color: theme-get('bg-color');
        border-bottom: 1px solid theme-get('header-feature-border');
    }

    @include tablet-min(){
        top: 60px;
    }

    &.active{
        top: -1px;
    }
}

.inner-path{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @include tablet-max(){
        max-width: 952px;
    }

    @include tablet-min(){
        max-width: 630px;
    }

    @include mobile-max{
        max-width: 364px;
    }

    @include mobile-min{
        margin: 0 24px;
    }
}

.wrap-tit{
    padding: 18px 0;

    img{
        width: 36px;
        height: 36px;
        margin-right: 7px;
        vertical-align: top;
    }

    .tit-path{
        display: inline-block;
        margin: 2px 0 1px;
        @include font-style(18, 36px, '', bold, -.28px);
        @include theme(){
            color: theme-get('text-color');
        }
    }

    @include tablet-min(){
        padding: 10.5px 0;
    }
}

.search-layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3000;

    .inner-layer{
        opacity: 0;
        -webkit-transition: opacity .6s;
        transition: opacity .6s;
        @include theme(){
            background-color: theme-get('bg-color');
        }
    }

    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0;
        -webkit-transition: opacity .6s;
        transition: opacity .6s;
        @include theme(){
            background-color: theme-get('bg-color');
        }
    }
}

.layer-head{
    position: relative;
    max-width: 1296px;
    height: 72px;
    margin: 0 auto;

    @include tablet-max(){
        max-width: 952px;
    }

    strong{
        display: block;
        padding-top: 24px;

        a{
            display: block;
            width: 70px;
            height: 24px;

            .ico-logo{
                width: 100%;

                path{
                    @include theme(){
                        fill: theme-get('text-color');
                    }
                }
            }
        }

        @include mobile-max{
            padding-top: 18px;
        }
    }

    @include tablet-min{
        max-width: 630px;
        height: 60px;
    }
    

    @include mobile-max{
        max-width: 364px;
    }

    @include mobile-min{
        margin: 0 24px;
    }
}

.layer-body{
    position: relative;
    max-width: 1296px;
    margin: 0 auto;

    @include tablet-max(){
        max-width: 952px;
    }

    .btn-close{
        position: absolute;
        top: -52px;
        right: 0;

        .ico-close{
            width: 28px;
            height: 28px;
        }

        @include tablet-min{
            top: -44px;
            right: 18px;
        }

        @include mobile-max{
            right: 0;
        }
    }

    @include tablet-min{
        max-width: 666px;
    }

    @include mobile-max{
        max-width: 370px;
    }

    @include mobile-min{
        margin: 0 24px;
    }
}

.area-search{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: .01;
    -webkit-transition: opacity .4s ease-in .4s,-webkit-transform .6s;
    transition: opacity .4s ease-in .4s,-webkit-transform .6s;
    transition: transform .6s,opacity .4s ease-in .4s;
    transition: transform .6s,opacity .4s ease-in .4s,-webkit-transform .6s;
}

.group-search{
    padding: 120px 0;
    background: url('https://www.kakaocorp.com/page/bg_search.png') no-repeat top 96px right 50px;
    background-size: 162px 178px;

    @include tablet-max(){
        padding: 96px 0;
        background-position: top 72px right 30px;
        background-size: 132px 146px;
    }

    .wrap-search{
        position: relative;
        width: 823px;
        margin: 0 auto;

        .ico-search-bold{
            position: absolute;
            top: 21px;
            left: 24px;
            width: 28px;
            height: 28px;

            .stroke{
                @include theme(){
                    stroke: theme-get('bg-color');
                }
            }

            @include tablet-max(){
                top: 18px;
                width: 24px;
                height: 24px;
            }

            @include mobile-min{
                width: 18px;
                height: 18px;
                top: 13.5px;
                left: 17px;
            }
        }

        input{
            width: 100%;
            padding: 20px 24px 20px 64px;
            border: 0;
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='823' height='72'%3E%3Cg transform='rotate(180 411.5 36)' fill='%23333' fill-rule='evenodd'%3E%3Cpath d='M0 0c4.004 2.904 6.617 7.607 6.615 12.931V24H24C24 10.745 13.255 0 0 0'/%3E%3Crect width='816' height='72' x='6.5' rx='27'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
            line-height: 32px;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: -.6px;
            box-sizing: border-box;
            @include theme(){
                color: theme-get('bg-color');
            }

            &::placeholder{
                @include theme(){
                    color: theme-get('bg-color');
                }
            }

            @include tablet-max(){
                padding: 18px 24px 18px 60px;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='60'%3E%3Cg transform='rotate(180 300 30)' fill='%23333' fill-rule='evenodd'%3E%3Cpath d='M0 0c3.336 2.42 5.514 6.34 5.513 10.776V20H20C20 8.954 11.046 0 0 0'/%3E%3Crect width='594' height='60' x='5.5' rx='23'/%3E%3C/g%3E%3C/svg%3E");
                line-height: 24px;
                font-size: 18px;
                letter-spacing: -.5px;
            }

            @include tablet-min{
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='450' height='60'%3E%3Cg transform='rotate(180 225 30)' fill='%23333' fill-rule='evenodd'%3E%3Cpath d='M0 0c3.336 2.42 5.514 6.34 5.513 10.776V20H20C20 8.954 11.046 0 0 0'/%3E%3Crect width='444' height='60' x='5.5' rx='23'/%3E%3C/g%3E%3C/svg%3E");
            }

            @include mobile-max{
                height: 60px;
                border-radius: 22px;
                background-color: var(--colorFg1);
                background-image: none;
                @include theme(){
                    background-color: theme-get('ico-share-path');
                }
            }

            @include mobile-min{
                height: 45px;
                padding: 13px 16px 14px 44px;
                font-size: 14px;
            }
        }

        @include tablet-max(){
            width: 600px;
        }

        @include tablet-min{
            width: 450px;
        }

        @include mobile-max{
            position: relative;
            width: 81.35%;
            margin: 0;

            &::after{
                position: absolute;
                bottom: 0;
                right: -5px;
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M20 20c-3.336-2.42-5.514-6.34-5.513-10.776V0H0c0 11.046 8.954 20 20 20' fill='%23333' fill-rule='evenodd'/%3E%3C/svg%3E");
                content: "";
            }
        }

        @include mobile-min{
            width: 79.14%;
        }
    }

    .wrap-tag{
        max-width: 600px;
        margin: 30px auto 0;
        text-align: center;

        .link-tag{
            margin-top: 6px;
        }

        @include tablet-max(){
            max-width: 446px;
        }

        @include mobile-min{
            margin-top: 50px;
        }
    }

    @include tablet-min{
        padding: 84px 0;
        background-position: top 78px right;
        background-size: 96px 106px;
    }

    @include mobile-max{
        padding: 72px 0;
        background-position: top 65px right;
        background-size: 63px 70px;
    }

    @include mobile-min{
        background-size: 54px 60px;
        background-position-y: 73px;
    }
}


.dark{
    .search-layer{
        background: rgba(0,0,0,.9);
    }

    .group-search{
        .wrap-search{
            input{
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='823' height='72'%3E%3Cg transform='rotate(180 411.5 36)' fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M0 0c4.004 2.904 6.617 7.607 6.615 12.931V24H24C24 10.745 13.255 0 0 0'/%3E%3Crect width='816' height='72' x='6.5' rx='27'/%3E%3C/g%3E%3C/svg%3E");

                @include tablet-max(){
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='60'%3E%3Cg transform='rotate(180 300 30)' fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M0 0c3.336 2.42 5.514 6.34 5.513 10.776V20H20C20 8.954 11.046 0 0 0'/%3E%3Crect width='594' height='60' x='5.5' rx='23'/%3E%3C/g%3E%3C/svg%3E");
                }

                @include tablet-min{
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='450' height='60'%3E%3Cg transform='rotate(180 225 30)' fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M0 0c3.336 2.42 5.514 6.34 5.513 10.776V20H20C20 8.954 11.046 0 0 0'/%3E%3Crect width='444' height='60' x='5.5' rx='23'/%3E%3C/g%3E%3C/svg%3E");
                }

                @include mobile-max{
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M20 20c-3.336-2.42-5.514-6.34-5.513-10.776V0H0c0 11.046 8.954 20 20 20' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
                }
            }

            @include mobile-max{
                &::after{
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M20 20c-3.336-2.42-5.514-6.34-5.513-10.776V0H0c0 11.046 8.954 20 20 20' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
                }
            }
        }
    }
}

.open-search{
    overflow: hidden;
    height: 100%;

    .search-layer{
        .inner-layer{
            opacity: 1;
        }
        &::before{
            opacity: .9;
        }
    }

    .area-search{
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    
    main{
        height: calc(100vh - 72px);
        -webkit-transform: translateY(310px);
        transform: translateY(310px);

        @include tablet-min{
            height: calc(100vh - 60px);
            -webkit-transform: translateY(260px);
            transform: translateY(260px);
        }
    
        @include mobile-max{
            -webkit-transform: translateY(220px);
            transform: translateY(220px);
        }
    }
}

.wrap-tag{
    font-size: 0;

    .link-tag{
        display: inline-block;
        overflow: hidden;
        max-width: 100%;
        height: 34px;
        margin-right: 6px;
        padding: 0 15px;
        border-radius: 34px;
        font-size: 13px;
        line-height: 34px;
        color: var(--baseForeground);
        background-color: var(--colorBg1);
        vertical-align: top;
        letter-spacing: -.5px;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include theme(){
            color: theme-get('text-color');
            background-color: theme-get('ico-share');
        }

        &:hover{
            @include theme(){
                background-color: theme-get('link-collection-hover');
            }
        }
    }

    @include tablet-min{
        max-width: 352px;
    }

    @include mobile-max{
        max-width: 334px;
    }
}

.ico-close{
    @include theme(){
        stroke: theme-get('text-color');
    }
}