@import './mixin.scss';
@include font-face('KakaoRegular', 'KakaoRegular', 400);

$font-stack: KakaoRegular, sans-serif;

body{
    font: 100% $font-stack;
    @include font-style(14, 1.5);
    &.dark{
        background-color: #000;
    }
    &light{
        background-color: #fff;
    }
}

.screen-out{
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    position: absolute;
    width: 0;
    height: 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.width100{
    width: 100%;
}

.height100{
    height: 100%;
}

.clear::after{
    clear: both;
    content:  '';
    display: block;
}