@import './_mixin.scss';

header{
    @include pos-fixed-top(2000);
    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }
    -webkit-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;

    &.active{
        @include theme(){
            border-bottom: 1px solid theme-get('header-feature-border');
        }
    }

    &.hide{
        top: -73px;
    }
    
    .wrap-header{
        max-width: 1296px;
        margin: 0 auto;
        height: 72px;

        @include tablet-max{
            max-width: 952px;
        }

        @include tablet-min{
            max-width: 630px;
            height: 60px;
        }

        @include mobile-max{
            max-width: 364px;
        }

        @include mobile-min{
            margin: 0 24px;
        }

    }

    .doc-gnb{
        text-align: center;

        .list-gnb{
            display: inline-block;
            margin-left: -74px;
            @include font-style(16, '', '', bold, -.5px);

            &:hover > li > a{
                color: $color-888;
            }

            li{
                display: inline-block;

                &:hover > a{
                    @include theme() {
                        color: theme-get('text-color');
                    }
                }

                a{
                    display: block;
                    padding: 0 28px;
                    line-height: 72px;
                    font-weight: 700;
                }
            }
        }

    }

    .area-util{
        margin-top: -54px;

        button{
            width: 36px;
            height: 36px;
            border-radius: 18px;
        
            &:hover{
                @include theme() {
                    background: theme-get('icon-bg');
                }
            }
            &+button{
                margin-left: 15px;
            }
            .ico{
                @include theme() {
                    stroke: theme-get('text-color');
                }
                width: 24px;
                height: 24px;
                position: relative;
                top: 3px;
            }
        }
    }

    .doc-title{
        padding-top: 24px;

        a{
            display: block;
            width: 70px;
            height: 24px;
        }

        path{
            @include theme() {
                fill: theme-get('text-color');
            }
        }

        @include mobile-max{
            padding-top: 18px;
        }
    }

    &.type2{
        .btn-hamburger{
            margin-left: 24px;
        }

        .btn-hamburger,
        .btn-search{
            float: right;
            margin-top: 16px;

            .stroke,
            .ico-search{
                @include theme(){
                    stroke:theme-get('text-color')
                }
            }

            .fill{
                @include theme(){
                    fill:theme-get('text-color')
                }
            }
        }

        [class^=ico-]{
            width: 28px;
            height: 28px;
        }

        .area-gnb{
            // display: none;
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999;
            width: 100%;
            height: 100%;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            -webkit-transition: all .3s ease-out 0s;
            transition: all .3s ease-out 0s;
            @include theme(){
                background-color: theme-get('bg-color');
            }

            &.slide-on{
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }

            .inner-gnb{
                margin: 0 auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: relative;
                min-height: 100%;
                max-width: 364px;
                padding-bottom: 36px;
                box-sizing: border-box;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                @include mobile-min{
                    padding-bottom: 28px;
                }
                @include mobile-max{
                    padding: 0 24px;
                }
            }

            .gnb-logo{
                display: block;
                padding: 18px 0;

                a{
                    display: block;
                    width: 70px;
                    height: 24px;

                    .ico-logo{
                        width: 100%;
                    }
                }
            }

            .btn-close{
                position: absolute;
                top: 16px;
                right: 0;

                @include mobile-min{
                    right: 24px;
                }
            }
        }

        .doc-gnb{
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding: 47px 0 66px;
            box-sizing: border-box;

            .list-gnb{
                margin-left: 0;
                display: block;

                & > li{
                    text-align: left;
                    display: block;

                    a{
                        padding: 0;
                        line-height: 1;
                        font-weight: normal;

                        .ico-menu{
                            width: 48px;
                            height: 48px;
                            margin-top: 2px;
                            vertical-align: top;

                            @include mobile-min(){
                                width: 45px;
                                height: 45px;
                            }
                        }

                        span{
                            display: inline-block;
                            margin-left: 16px;
                            line-height: 52px;
                            font-size: 36px;
                            font-weight: 700;
                            letter-spacing: -.8px;
                            @include theme(){
                                color: theme-get('footer-span-color');
                            }

                            @include mobile-min(){
                                margin-left: 9px;
                                line-height: 47px;
                                font-size: 30px;
                                letter-spacing: -.5px;
                            }
                        }

                        &.link::after{
                            display: inline-block;
                            margin: 24px 0 0 14px;
                            border: 5px solid transparent;
                            vertical-align: top;
                            content: "";
                            @include theme(){
                                border-top: 5px solid theme-get('footer-span-color');
                            }
                            @include mobile-min(){
                                margin-top: 17px;
                            }
                        }
                    }

                    &+li{
                        margin-top: 36px;
                    }

                    &.on{
                        .link::after{
                            -webkit-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                            margin-top: 18px;
                        }

                        .list-sub{
                            display: block;
                        }
                    }
                }
            }

            .list-sub{
                margin: 21px 0 36px 68px;
                display: none;
                
                & > li{
                    display: block;
                    a{
                        display: inline-block;
                        padding: 13px 20px 15px;
                        border-radius: 30px;
                        line-height: 27px;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: -.16px;
                        @include theme(){
                            color: theme-get('footer-stroke');
                            background-color: theme-get('item-title-bg');
                        }
                        @include mobile-min(){
                            padding: 12px 18px 14px;
                            border-radius: 25px;
                            line-height: 24px;
                            font-size: 16px;
                            letter-spacing: -.2px;
                        }
                    }

                    &+li{
                        margin-top: 14px;
                    }

                }

                @include mobile-min(){
                    margin: 18px 0 32px 58px;
                }
            }

            @include mobile-min(){
                min-height: calc(100% - 116px);
                padding-top: 30px;
            }
        }

        .group-relation{
            height: 28px;

            .list-relation{
                float: left;

                & > li{
                    display: inline-block;
                    position: relative;
                    
                    a{
                        display: inline-block;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: -.2px;

                        @include theme(){
                            color: theme-get('footer-outline');
                        }

                        .ico-arrow{
                            width: 9px;
                            height: 9px;
                            margin: 10px 0 0 4px;
                        }

                        .stroke{
                            @include theme(){
                                stroke: theme-get('footer-stroke');
                            }
                        }
                    }

                    &+li{
                        margin-left: 20px;
                    }

                    &.info-open{
                        .ico-arrow{
                            -webkit-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                        }

                        .list-subinfo{
                            display: block;
                        }
                    }
                }
            }

            .wrap-util{
                float: right;

                .ico-mode-dark, .ico-language,
                .ico-mode-light{
                    width: 28px;
                    height: 28px;

                    @include theme(){
                        stroke: theme-get('text-color');
                    }
                }

                button+button{
                    margin-left: 20px;

                    @include mobile-min(){
                        margin-left: 14px;
                    }
                }
            }
        }

        .list-subinfo{
            display: none;
            position: absolute;
            bottom: 30px;
            left: 0;
            padding: 14px 0;
            border-radius: 12px;
            z-index: 10;
            @include theme(){
                background-color: theme-get('icon-bg');
            }

            a{
                display: block;

                .wrap-info{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    padding: 0 14px;
                    white-space: nowrap;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;

                    span{
                        display: inline-block;
                        font-size: 12px;
                        letter-spacing: -.2px;
                        @include theme(){
                            color: theme-get('footer-info-li');
                        }
                    }

                    .ico-outlink{
                        float: right;
                        width: 9px;
                        height: 9px;
                        margin: 8px 0 0 5px;
                        stroke: #999;
                    }
                }
            }
        }

        .ico-logo{
            path{
                @include theme(){
                    fill: theme-get('text-color');
                }
            }
        }
    }

    .list-gnb{
        & > li{
            display: inline-block;
            position: relative;

            .list-sub{
                display: none;
                position: absolute;
                top: 60px;
                left: 4px;
                padding: 0 24.5px;
                border-radius: 24px;
                white-space: nowrap;
                box-sizing: border-box;
                z-index: 100;
                @include theme(){
                    background-color: theme-get('text-color');
                }

                li{
                    display: inline-block;

                    a{
                        display: block;
                        padding: 11px 0 13px;
                        line-height: 24px;
                        font-weight: normal;
                        @include theme(){
                            color: theme-get('bg-color');
                        }
                        
                        &:hover{
                            font-weight: 700;
                            @include theme(){
                                color: theme-get('bg-color');
                            }
                        }
                    }

                    &+li{
                        margin-left: 24px;
                    }
                }

                &:first-child{
                    .list-sub{
                        width: 267px;
                    }
                }

                &:nth-child(3){
                    .list-sub{
                        width: 142px;
                    }
                }

                &:nth-child(3){
                    .list-sub{
                        width: 344px;
                    }
                }
            }

            &.on{
                .list-sub{
                    display: block;
                }
            }
        }
    }
}
