@import './_mixin.scss';

main{
    margin: 0 auto;
    max-width: 1296px;
    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }
}

.main-title{
    padding-top: 72px;
    
    .wrap-fit{
        .tit-main {
            padding-top: 96px;
            @include font-style(46, 66px, '', bold, -1px);

            .emph-tit{
                display: block;
                padding-left: 84px;
            }
        }
    }
}

.main-itemCard{
    padding: 96px 0 0;
    margin: 0 -18px;
}