@import './_mixin.scss';
@import './variable';

main{
    margin: 0 auto;
    max-width: 1296px;
    padding-bottom: 182px;
    position: relative;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.59,.01,.28,1);
    transition: -webkit-transform .5s cubic-bezier(.59,.01,.28,1);
    transition: transform .5s cubic-bezier(.59,.01,.28,1);
    transition: transform .5s cubic-bezier(.59,.01,.28,1),-webkit-transform .5s cubic-bezier(.59,.01,.28,1);
    
    @include theme() {
        color: theme-get('text-color');
        background-color: theme-get('bg-color');
    }

    @include tablet-max{
        max-width: 952px;
    }

    @include tablet-min{
        padding-bottom: 344px;
        max-width: 630px;
    }

    @include mobile-max{
        max-width: 364px;
        padding-bottom: 172px;
    }

    @include mobile-min{
        margin: 0 24px;
    }

    .ico-arr{
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 5px 0 -3px 6px;
    }
}

.main-title{
    padding-top: 72px;
    
    .wrap-fit{
        .tit-main {
            background-repeat: no-repeat;
            background-size: 72px 72px;
            background-position: 0 94px;
            padding-top: 96px;
            @include font-style(46, 66px, '', bold, -1px);

            .emph-tit{
                display: block;
                padding-left: 84px;

                @include tablet-max{
                    padding-left: 68px;
                }

                @include tablet-min{
                    padding-left: 50px;
                }
            }

            @include tablet-max{
                padding-top: 72px;
                font-size: 36px;
                line-height: 52px;
                background-position-y: 72px;
                background-size: 56px 56px;
            }

            @include tablet-max{
                padding-top: 48px;
                font-size: 30px;
                line-height: 40px;
                background-position-y: 48px;
                background-size: 40px 40px;
            }
        }
    }

    @include tablet-min(){
        padding-top: 60px;
    }
}

.main-itemCard{
    margin: 0 -18px;

    &:not(.itemCard2){
        padding: 96px 0 0;
        @include tablet-max{
            margin: 0 -15px;
            padding-top: 42px;
        }

        @include tablet-min{
            padding: 12px 0 0 0;
        }
    }

    .section-main{
        display: -webkit-box;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .wrap-item{
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            position: relative;
            max-width: 666px;
            padding: 0 18px;
            box-sizing: border-box;

    
            &:first-child{
                .inner-item{
                    position: sticky;
                    top: 170px;
                    -webkit-transition: top .2s ease-in-out;
                    transition: top .2s ease-in-out;
    
                    .item-card{
                        width: 100%;
                        height: calc(100vh - 206px);
                        max-height: 700px;
                        -webkit-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;

                        @include tablet-max{
                            // height: calc(100vh - 143px);
                            height: calc(100vh - 205px);
                        }

                        @include tablet-min{
                            height: 700px;
                            -webkit-transition: none;
                            transition: none;
                        }
                        
                        .wrap-cont{
                            height: 100%;
    
                            .link-item{
                                height: calc(100% - 47px);
    
                                .tit-card{
                                    max-height: 92px;
                                    height: 92px;
                                    margin-top: 13px;
                                    font-size: 32px;
                                    line-height: 46px;
                                    letter-spacing: -1px;

                                    @include mobile-max{
                                        max-height: none;
                                        height: 72px;
                                        font-size: 26px;
                                        line-height: 36px;
                                    }
                                }
    
                                .wrap-thumb{
                                    margin-top: 63px;
                                    height: calc(100% - 156px);

                                    @include mobile-max{
                                        height: auto;
                                        margin-top: 66px;
                                    }
                                }
                            }
    
                            .info-card{
                                top: 143px;
                                margin-top: 24px;
                                font-size: 14px;
                            }
                        }

                        @include mobile-max{
                            height: auto;
                        }
                    }
                }
            }
    
            .item-card{
                @include tablet-max{
                    margin-top: 30px;
                }

                @include tablet-min{
                    width: calc(50% - 18px);
                    margin-top: 36px;
                }

                overflow: hidden;
                position: relative;
                width: 297px;
                margin-top: 36px;
                border-radius: 14px;
                @include theme() {
                    background-color: theme-get('item-card');
                }
                box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);

                .tit-card{
                    display: block;
                    display: -webkit-box;
                    overflow: hidden;
                    height: 64px;
                    margin-top: 13px;
                    padding: 0 24px;
                    font-size: 22px;
                    line-height: 32px;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    font-weight: bold;
                    @include theme() {
                        color: theme-get('text-color');
                    }

                    @include mobile-max{
                        height: 72px;
                        font-size: 26px;
                        line-height: 36px;
                    }
                }

                .info-cate{
                    display: block;
                    height: 36px;
                    margin-top: -1px;
                    padding-right: 20px;
                    font-size: 0;
    
                    .txt-cate{
                        display: inline-block;
                        position: relative;
                        height: 34px;
                        margin-top: 1px;
                        padding: 0 13px;
                        border-radius: 13px;
                        font-size: 13px;
                        line-height: 34px;
                        vertical-align: top;
                        @include theme() {
                            color:theme-get('text-color');
                            background-color: theme-get('item-title-bg');
                        }
    
                        &:before{
                            position: absolute;
                            top: 0;
                            left: -4px;
                            width: 16px;
                            height: 16px;
                            content: "";
                        }
                    }
    
                    .dot-new{
                        display: inline-block;
                        min-width: 6px;
                        width: 6px;
                        height: 6px;
                        margin-left: 3px;
                        border-radius: 8px;
                        line-height: 0;
                        background-color: #ff5737;
                        vertical-align: top;
                        text-indent: -9999px;
                    }

                    .ico-cate{
                        display: inline-block;
                        margin-right: 8px;
                        vertical-align: top;
                    }
                }
    
                .link-item{
                    display: block;
                    margin: 0 -24px;
    
                    .wrap-thumb{
                        display: block;
                        height: 180px;
                        margin-top: 60px;
    
                        .thumb-img{
                            display: block;
                            width: 100%;
                            min-height: 100%;
                        }

                        @include mobile-max{
                            height: auto;
                            margin-top: 66px;
                        }
                    }
                }
    
                .info-card{
                    overflow: hidden;
                    position: absolute;
                    top: 143px;
                    left: 0;
                    right: 84px;
                    height: 19px;
                    margin-top: 18px;
                    padding-left: 24px;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 19px;
                    @include theme() {
                        color: theme-get('item-tag-color');
                    }

                    .txt-keyword{
                        display: inline-block;
                        margin-right: 3px;
                        vertical-align: top;
                    }
                    
                }
    
                .wrap-cont{
                    display: block;
                    position: relative;
                    padding: 25px 24px 0;
                    box-sizing: border-box;
                }
    
                .btn-share{
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    top: 30px;
                    right: 14px;
                    z-index: 20;
                    width: 24px;
                    height: 24px;
                    font-size: 0;
                    line-height: 0;
                    text-indent: -9999px;
    
                    .ico-share{
                        display: block;
                        width: 20px;
                        height: 20px;
                        margin: 0 auto;
    
                        .fill{
                            fill: $bg-bbb;
                        }
                    }
                }

                &.card-half{
                    .wrap-cont{
                        height: 205px;
                    }

                    .tit-card{
                        max-height: 56px;
                        padding: 0;
                        font-size: 18px;
                        line-height: 28px;
                    }

                    @include mobile-max{
                        height: 220px;
                    }
                }

                &.item-stock{
                    .tit-card{
                        display: block;
                        max-height: none;
                        margin-top: 18px;
                        @include font-style(40, 59px, '', bold, -1px);

                        .num-tit{
                            display: inline-block;
                            margin-right: 10px;
                            vertical-align: top;
                        }

                        .num-info{
                            display: inline-block;
                            margin-top: 20px;
                            vertical-align: top;
                            @include font-style(14, 20px, '', 700, 0);

                            .info-arr{
                                display: inline-block;
                                overflow: hidden;
                                width: 8px;
                                margin: 9px 4px 0 0;
                                border-top: 3px solid var(--baseForeground);
                                text-indent: -9999px;
                                vertical-align: top;
                                @include font-style(0, 0, '', '', 0);
                            }

                             &.down{
                                color: $color-blue;

                                .info-arr{
                                    width: auto;
                                    margin-top: 8px;
                                    border-right: 4px solid transparent;
                                    border-left: 4px solid transparent;
                                    border-top: 7px solid $color-blue;
                                }
                            }

                            &.up{
                                color: $color-red;

                                .info-arr{
                                    width: auto;
                                    margin-top: 6px;
                                    border-color: currentcolor transparent $color-red;
                                    border-style: none solid solid;
                                    border-width: 0 4px 7px;
                                }
                            }
                        }
                    }

                    .info-card{
                        top: 146px;
                        margin: 12px 0 0;
                    }

                    @include mobile-max{
                        .wrap-cont{
                            height: auto;
                            min-height: 220px;
                            padding-bottom: 24px;
                            box-sizing: border-box;
                        }

                        .tit-card{
                            height: auto;
                            max-height: none;
                            margin-top: 27px;
                            font-size: 52px;
                            line-height: 65px;
                            letter-spacing: -1px;
                        }
                    }
                }

                &.item-customer{
                    .tit-card{
                        display: inline-block;
                        overflow: visible;
                        position: relative;
                        height: auto;
                        margin-top: 13px;
                        padding: 8px 20px 8px 25px;
                        border-radius: 15px;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000;
                        background-color: #fee102;
                        -webkit-box-orient: initial;
                        -webkit-line-clamp: initial;

                        &:before{
                            position: absolute;
                            top: 0;
                            left: -5px;
                            width: 18px;
                            height: 18px;
                            background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23fee102' fillRule='evenodd'/%3E%3C/svg%3E");
                            content: "";
                        }

                        @include mobile-max{
                            height: auto;
                            padding: 12px 25px 12px 30px;
                            border-radius: 20px;
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                }

                .list-cs{
                    margin: 12px -24px 0;
                    font-size: 0;
                    text-align: center;

                    li{
                        display: inline-block;
                        margin: 0 4px;
                    }

                    .link-cs{
                        display: block;
                        height: 42px;
                        padding: 0 20px;
                        border-radius: 15px;
                        font-size: 16px;
                        line-height: 42px;
                        @include theme() {
                            color: theme-get('list-li-color');
                            background-color: theme-get('list-li-bg');
                        }
                    }

                    @include mobile-max{
                        margin: 16px -24px 0;

                        li{
                            margin: 0 6px;

                            .link-cs{
                                height: 52px;
                                padding: 0 24px;
                                border-radius: 52px;
                                font-size: 18px;
                                line-height: 52px;
                                letter-spacing: -1px;
                            }
                        }
                    }
                }

                &:nth-child(-n+2) {
                    margin-top: 0;
                    @include tablet-max{
                        margin-top: 30px;
                    }

                    @include tablet-min{
                        margin-top: 36px;
                    }
                }
                
                @include mobile-max{
                    position: relative!important;
                    top: auto!important;
                    left: auto!important;
                    width: 100%;

                    &:not(.card-full):not(.item-stock):not(.item-customer){
                        .wrap-cont{
                            .tit-card{
                                max-height: 72px;
                                margin-top: 13px;
                                font-size: 26px;
                                line-height: 36px;
                                letter-spacing: 0;
                            }
                        }
                    }

                    &:not(.card-full){
                        .wrap-cont{
                            .info-card{
                                margin-top: 24px;
                            }
                        }
                    }
                }
            }

            &:last-child{
                min-width: 666px;
            }

            @include tablet-max{
                min-width: 655px;
                padding: 0 15px;

                &:last-child{
                    min-width: 0;
                    max-width: 327px;
                }
            }

            @include tablet-min{
                &:last-child{
                    max-width: 100%;
                }
            }

            @include mobile-max{
                -webkit-box-flex: 0;
                -ms-flex: none;
                flex: none;
                min-width: 0;
            }
        }

        @include tablet-min{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        @include mobile-max{
            display: block;
        }
    }

    &.itemCard2{
        .section-main{
            padding: 0;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  
            @include tablet-min{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }

        .item-card{
            margin-top: 0;
        }
    }
}

.hide-header{
    .wrap-item{
        &:first-child{
            .inner-item{
                top: 109px;

                .item-card{
                    height: calc(100vh - 143px);
                }

                .wrap-cont{
                    height: 100%;
                }
            }
        }
    }
}

.light{
    .txt-cate:before{
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23eee' fillRule='evenodd'/%3E%3C/svg%3E");
    }
}

.dark{
    .txt-cate:before{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23444' rule='evenodd'/%3E%3C/svg%3E");
    }
}

.main-culture{
    height: 594px;
    margin: 36px 0;
    padding: 54px 66px 0;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 2px 5px 40px 0 rgb(0 0 0 / 8%);
    box-sizing: border-box;
    text-align: center;

    .tit-culture{
        display: block;
        @include font-style(42, 62px, '', bold);
        color: #000;

        br{
            display: block;
        }

        @include tablet-min{
            font-size: 36px;
            line-height: 52px;
        }

        @include mobile-max{
            margin: 0 -32px;
            font-size: 30px;
            line-height: 40px;
        }
    }

    .link-culture{
        display: inline-block;
        height: 42px;
        margin-top: 36px;
        padding: 0 20px 0;
        border-radius: 42px;
        @include font-style(14, 42px);
        color: #fff;
        background-color: #000;
        vertical-align: top;

        .ico-arr{
            margin-top: 4px;
        }

        @include tablet-min{
            margin-top: 24px;
        }
    }

    .thumb-culture{
        display: block;
        width: 100%;
        max-width: 900px;
        height: auto;
        margin: 50px auto 0;

        @include tablet-min{
            max-width: 420px;
            margin-top: 44px;
        }

        &.thumb-culture-s{
            display: none;

            @include tablet-min{
                display:block
            }
        }
    
        &.thumb-culture-l{
            @include tablet-min{
                display: none;
            }
        }

        @include mobile-max{
            margin-top: 22px;
        }
    }

    @include tablet-max{
        margin: 30px 0 0 0;
    }

    @include tablet-min{
        height: auto;
        margin-top: 36px;
        padding: 48px 52px 38px;
    }

    @include mobile-max{
        padding: 36px 52px 20px;
    }
}

.main-etc{
    margin: 36px -18px 0 -18px;
    font-size: 0;

    .item-etc{
        display: inline-block;
        width: 50%;
        padding: 0 18px;
        box-sizing: border-box;

        .link-etc{
            display: block;
            height: 360px;
            padding: 36px 36px 0;
            border-radius: 12px;
            box-sizing: border-box;
            background: no-repeat calc(100% - 40px) calc(100% - 40px);
            box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);

            .tit-item{
                display: block;
                max-width: 430px;
                color: #000;
                word-break: keep-all;
                @include font-style(32, 44px, '', bold);

                @include mobile-max{
                    font-size: 26px;
                    line-height: 36px;
                }
            }

            .txt-item{
                display: inline-block;
                height: 42px;
                margin-top: 24px;
                padding: 0 20px 0;
                border-radius: 42px;
                font-size: 14px;
                line-height: 42px;
                color: #fff;
                background-color: #000;
                vertical-align: top;
            }

            &.link-service{
                background-color: #fae100;
                background-image: url('https://www.kakaocorp.com/page/bg_home_service.png');
                background-size: 160px 160px;

                @include tablet-max{
                    background-size: 130px 130px;
                }

                @include tablet-min{
                    background-size: 160px 160px;
                }
            }

            &.link-recruit{
                background-color: #3c64ff;
                background-image: url('https://www.kakaocorp.com/page/bg_home_recruit.png');
                background-size: 309px 160px;

                .ico-arr{
                    margin-top: 4px;
                    -webkit-transform: rotate(
                -45deg);
                    transform: rotate(
                -45deg);
                }

                @include tablet-max{
                    background-size: 251px 130px;
                }
            }

            .ico-arr{
                margin-top: 4px;
            }

            @include tablet-max{
                background-position: calc(100% - 34px) calc(100% - 34px);
            }

            @include tablet-min{
                background-position: calc(100% - 40px) calc(100% - 40px);
            }

            @include mobile-max{
                background-size: 140px 140px;
                height: 484px;
                background-position: calc(100% - 32px) calc(100% - 32px);
            }
        }

        @include tablet-max{
            padding: 0 15px 0 18px;
        }

        @include tablet-min{
            float: none;
            width: 100%;

            &:first-child{
                padding-bottom: 36px;
            }
        }
    }
}

.item-card{
    &:hover{
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
    }
}