$themes: (
  dark: (
    'text-color': #fff,
    'bg-color': #000,
    'icon-bg': #222224,
    'item-card' : #222224,
    'item-title-bg' : #444,
    'item-tag-color' : #777,
    'list-li-color' : #fff,
    'list-li-bg' : #333,
    'footer-border' : #111,
    'footer-bg' : #111,
    'footer-span-color' : #fafafa,
    'footer-outline': #fafafa,
    'footer-linkinfo' : #f3f3f3,
    'footer-stroke' : #f3f3f3,
    'footer-info-li' : #999,
    'footer-link-emph' : #bbb,
    'ico-plus' : #ebebeb,
    'ico-share' : #333,
    'ico-share-path': #fff,
    'header-feature-border': #333
  ),
  light: (
    'text-color': #000,
    'bg-color': #fff,
    'icon-bg': #eee,
    'item-card' : #fff,
    'item-title-bg' : #eee,
    'item-tag-color' : #666,
    'list-li-color' : #666,
    'list-li-bg' : #f4f4f4,
    'footer-border' : #ebebeb,
    'footer-bg' : #fff,
    'footer-span-color' : #000,
    'footer-outline' : #333,
    'footer-linkinfo' : #111,
    'footer-stroke' : #000,
    'footer-info-li' : #666,
    'footer-link-emph' : #333,
    'ico-plus' : #666,
    'ico-share' : #eee,
    'ico-share-path': #333,
    'header-feature-border': #eee
  )
);

$tablet-max:1439px;
$tablet-min:1023px;
$mobile-max:767px;

$bg-eee:#eee;
$bg-bbb:#bbb;
$color-888:#888;
$color-blue:#2879ff;
