@mixin font-face($name, $file, $weight: normal, $style: normal) {
    @font-face { 
        font-family: "#{$name}"; 
        src: url('../assets/font/#{$file}.ttf') format('truetype'); 
        font-weight: $weight; 
        font-style: $style; 
    }
} 